@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

#slidephoto {
    position: absolute;
    width: 25vw;
    height: 30vw;
    background-color: #ffd4f9;
    z-index: 99;
    overflow: hidden;
    pointer-events: none;
}

#slidephoto #slidephotos {
    width: 100%;
    height: 400%;
    display: flex;
    flex-direction: column;
    transition: 2s cubic-bezier(0.15, 1.14, 0, 1.05);
}

#slidephoto #slidephotos .photo {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.photo:nth-child(1) {
    background-image: url(img/KakaoTalk_20230626_110845337.jpg);
}

.photo:nth-child(2) {
    background-image: url(img/KakaoTalk_20230626_110845337_01.jpg);
}

.photo:nth-child(3) {
    background-image: url(img/KakaoTalk_20230626_110845337_02.jpg);
}

.photo:nth-child(4) {
    background-image: url(img/KakaoTalk_20230626_110845337_03.jpg);
}

#view {
    position: absolute;
   bottom: 2%;
   right: 2%;
   /*  transform: translate(-50%, -50%); */
    border-radius: 50%;
    width: 110px;
    height: 80px;
    background-color: rgb(255, 194, 194);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#view h1 {
    font-size: 0.5vw;
    font-weight: bold;
    letter-spacing: .2vw;
    font-weight: bold;
    text-align: center;
}

#one {
    width: 100%;
    height: 100vh;
    color: #080808;
}

#one #eff {
margin-top: 5vw;
}

#one #eff .stext {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
}

#one #eff .stext h1 {
    font-size: 5vw;
}

#one #eff .stext p {}

#one #eff .line {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#one #eff .line .hrline {
    width: 80%;
    height: 1px;
    background-color: #ccc;
    margin-top: 45px;
    margin-bottom: 45px;
}


#showm{
    display: flex;
    justify-content: center;
}

#btnsm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13vw;
    height: 5vw;
    border: 1px solid #333;
    border-radius: 50px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#btnsm h1{
    font-size: 1vw;
    color: rgb(165, 165, 165);
}

#btnsm h1 sup{
    color: rgb(158, 158, 158);
}